{% extends 'user_base.html' %}
{% block title%}
theaters
{% endblock%}

{% block name %}{{user.username}}{% endblock %}


{% block content %}
<div class="container">
    <table>
        <tr>
            <td colspan="15" colspan="4">
                    <div class="col">
                        <div class="card h-100">
                            <img src="{{movie.picture.url}}" class="card-img-top" alt="..." style="height:1500px ;">
                            <div class="card-body">
                                <h5 class="card-title">{{movie.movie_name}}</h5>
                                    <h5 class="card-title">Plot</h5>
                                    {{movie.details}}
                                </p>
                                <h5 class="card-title">Theater:{{movie.theater.tname}}</h5>                             
                            </div>
                            <div class="card-footer">
                                <small class="text-muted" ><a href="{% url 'USER:booking' movie.id %}"><center>Book Now</center></a></small>
                            </div>
                        </div>
                    </div>                
            </td>  
        </tr>
    </table>
</div>
{% endblock %}
