{% extends 'user_base.html' %}
{% block title%}
theaters
{% endblock%}

{% block name %}{{user.username}}{% endblock %}

{% block content %}
<div class="container">
    <h1 class="theater">TODAY'S MOVIES IN KOZHIKODE THEATRES</h1>
    <hr class="hr1"><br>
    <table  class="booking" style="width:100%;">
        <tr>

            <th>t_id</th>
            <th>tname</th>
            <th>movie</th>
            <th>time_one</th>
            <th>time_two</th>
            <th>time_three</th>
            <th>book_now</th>
            
        </tr>
        {% for time in table %}
        <tr>

            <td>{{forloop.counter}}</td>
            <td>{{time.theater.tname}}</td>
            <td>{{time.movie.movie_name}}</td>
            <td>{{time.time_one}}</td>
            <td>{{time.time_two}}</td>
            <td>{{time.time_three}}</td>
            <td><button><a href="{% url 'USER:carter' time.movie.id %}">Book</a></button></td>
        </tr>
        {% endfor %}
      </table>
</div>

{% endblock %}
