{% extends 'base.html' %}
{% block title%}
theaters
{% endblock%}{% block name %}{{admin.username}}{% endblock %}


{% block content %}
<div class="container">
    <h1 class="theater">TODAY'S MOVIES IN KOZHIKODE THEATRES</h1>
    <hr class="hr1"><br>
    <table  style="width:100%;margin-top:100px;">
      <tr class="t_row">
        <th>Magic Frames Radha</th>
        <td>Carter</td>
        <td>(6.30, 10.15, 2.00, 6.00, 9.45)</td>
        <td><button><a href="">Book Now</a></button></td>
      </tr>
      <tr class="t_row"> 
        <th>Crown</th>
        <td>Bhool Bhulaiyaa 2</td>
        <td>(6.30, 10.15, 2.00, 6.00, 9.45)</td>
        <td><button><a href="">Book Now</a></button></td>
      </tr>
      <tr class="t_row">
        <th>Regal Cinemas</th>
        <td>Anek</td>
        <td>(6.30, 10.15, 2.00, 6.00, 9.45)</td>
        <td><button><a href="">Book Now</a></button></td>
      </tr>
      <tr class="t_row"> 
        <th>RP Aashirvad Cineplex RP Mall </th>
        <td>The Ice Age Adventures of Buck Wild</td>
        <td>(6.30, 10.15, 2.00, 6.00, 9.45)</td>
        <td><button><a href="">Book Now</a></button></td>
      </tr>
      <tr class="t_row">
        <th>Kairali</th>
        <td>Mahaan</td>
        <td>(6.30, 10.15, 2.00, 6.00, 9.45)</td>
        <td><button><a href="">Book Now</a></button></td>
      </tr>
      <tr class="t_row"> 
        <th>E Max Cinemas</th>
        <td>>Memory</td>
        <td>(6.30, 10.15, 2.00, 6.00, 9.45)</td>
        <td><button><a href="">Book Now</a></button></td>
      </tr>
          <!-- <tr>
            <td rowspan="3" colspan="4" class="t_head">RP Aashirvad Cineplex RP Mall</td>
            <td colspan="6">Avatar: The Way of Water [16.12.2022]<br>(6.30, 10.15, 2.00, 6.00, 9.45)</td>
            <td><button><a href="">Book Now</a></button></td>
          </tr> -->
          
          
    </table>
</div>

{% endblock %}
